<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="todo-list-app-css">
    <template>
        <style>
            :host {
                --app-primary-color: #1D628B;
                --app-secondary-color: #2C3E50;

                display: block;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }
            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;

                padding: 0 16px;

                text-decoration: none;

                color: var(--app-secondary-color);

                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;

                font-weight: bold;
            }
        </style>
</template>
</dom-module>