<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Polymer Elements -->
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">

<!-- Custom Elements -->
<link rel="import" href="../my-icons.html">


<!-- Style -->
<link rel="import" href="./todo-list-app-css.html">

<dom-module id="todo-list-app">
  <template>
    <style include="todo-list-app-css"></style>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
      <app-drawer>
        <app-toolbar>Menu</app-toolbar>
        
        <paper-item>
          <paper-item-body>
            Unhandled tasks
          </paper-item-body>
        </paper-item>
        
        <paper-item>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="my-view1" href="/my-view1">View One</a>
            <a name="my-view2" href="/my-view2">View Two</a>
            <a name="my-view3" href="/my-view3">View Three</a>
            <a name="task-list-view" href="/task-list-view">task-list</a>
          </iron-selector>
        </paper-item>

        
        <paper-item>
          <paper-item-body>Task groups</paper-item-body>
          <paper-icon-button icon="add-circle-outline"></paper-icon-button>
        </paper-item>
        
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div main-title>My ToDo list</div>
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
          <my-view1 name="my-view1"></my-view1>
          <my-view2 name="my-view2"></my-view2>
          <my-view3 name="my-view3"></my-view3>
          <task-list-view name="task-list-view"></task-list-view>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script src="./todo-list-app.js"></script>
</dom-module>