<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Polymer Elements -->
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/left-swipe-action/left-swipe-action.html">

<!-- Custom Elements -->
<link rel="import" href="../my-icons.html">
<link rel="import" href="../shared-styles.html">

<!-- Style -->
<link rel="import" href="./task-list-view-css.html">

<dom-module id="task-list-view">
    <template>
        <style include="task-list-view-css"></style>
        <style include="shared-styles"></style>

        <h1>This is the "<i>{{params.listName}}</i>" list</h1>

        <paper-fab icon="add"></paper-fab>
    </template>

    <script src="./task-list-view.js"></script>
</dom-module>