<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="task-list-view-css">
    <template>
        <style>
            paper-fab {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        </style>
    </template>
</dom-module>